<div class="mynav">
<nav class="pv3 ph3 ph4-ns" role="navigation">

<!-- moved the site title to the site header -->

  <div class="flex-l justify-between items-center center ml4">

    </a>
</div>


<div class="navigation flex-l items-center pt5 pb-2">
      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3 ">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw3  pr3 dib"><!-- ml2 sets gap between pararaphs  remove dib makes the list vertical -->
            <a class="navs hover-white no-underline white-90 bg-white" href="{{ .URL }}" title="{{ .Name }} page">
             <ul> <li class="navs"><a href="{{.URL}}">{{ .Name }}</a></li></ul>
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }} 
      {{/* partial "social-follow.html" . */}}
    </div>
  </div>
</nav>
</div>
